if (!$('.js-modal-my-account-wrapper').length)
  $('body').append('<div class="js-modal-my-account-wrapper"></div>');

$('.js-modal-my-account-wrapper').html('<%= j render "modals/my_account" %>');
$('#myAccountModal').modal('show');

var loginFormValidator = $("form#loginForm").validate({
  rules: {
    'user[email]': {
      required: true,
      email: true
    },
    'user[password]': {
      required: true,
      minlength: 6
    }
  },
  messages: {
    'user[email]': {
      email: "Your email address must be in the format of name@domain.com"
    },
    'user[password]': {
      minlength: "Only 6-digit minimal password allowed"
    }
  }
});

var registerFormValidator = $("form#registerForm").validate({
  rules: {
    'user[email]': {
      required: true,
      email: true
    },
    'user[password]': {
      required: true,
      minlength: 6
    },
    'user[password_confirmation]': {
      required: true,
      minlength: 6,
      equalTo: "#user_password"
    },
    'user[name]': "required",
    'user[birthday]': "required",
    'user[gender]': "required",
    'user[location]': "required",
    'user[address]': "required"
  },
  messages: {
    'user[email]': {
      required: "We need your email address to contact you",
      email: "Your email address must be in the format of name@domain.com"
    },
    'user[password]': {
      required: "We need your password to make it secure",
      minlength: "Only 6-digit minimal password allowed"
    },
    'user[password_confirmation]': {
      required: "We need your password to make it secure",
      minlength: "Only 6-digit minimal password allowed",
      equalTo: "Password doesn't match"
    },
    'user[name]': "Please specify your name",
  }
});

// Navigation
$('.go-to-login').click(function(){
  $('.section-register-1-email').hide();
  $('.section-login').show();
});

$('.go-to-register-1-email').click(function(){
  $('.section-login').hide();
  $('.section-register-2-password').hide();
  $('.section-register-1-email').show();
});

$('.go-to-register-2-password').click(function(){
  if (registerFormValidator.element('#user_email')) {
    $('.section-register-1-email').hide();
    $('.section-register-3-name').hide();
    $('.section-register-2-password').show();
  }
});

$('.go-to-register-3-name').click(function(){
  if (registerFormValidator.element('#user_password') && registerFormValidator.element('#user_password_confirmation')) {
    $('.section-register-2-password').hide();
    $('.section-register-4-detail').hide();
    $('.section-register-3-name').show();
  }
});

$('.go-to-register-4-detail').click(function(){
  if (registerFormValidator.element('#user_name')) {
    $('.section-register-3-name').hide();
    $('.section-register-4-detail').show();
  }
});
