if (!$('.js-modal-my-account-wrapper').length)
  $('body').append('<div class="js-modal-my-account-wrapper"></div>');

$('.js-modal-my-account-wrapper').html('<%= j render "modals/my_account" %>');
$('#myAccountModal').modal('show');